body {
    background: linear-gradient(120deg, #2980b9, #6dd5fa);
    min-height: 100vh;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background: #FFFFFF;
    padding: 2.5rem 2rem;
    border-radius: 16px;
    box-shadow: 0 6px 32px rgba(0,0,0,0.12);
    width: 90%
}
a {
    color: inherit;
    text-decoration: none;
}
h2 {
    color: #333;
    font-weight: 600;
}
.dane {
    color: #333;
}
.options {
    display: flex;
    width: 100%;
}
.option {
    color: #000000;
    padding: 16px;
    font-size: 36px;
    flex: 1;
    text-align: center;
}
.option:hover {
    background-color: #C0C0C0
}
.greeting {
    color: red;
    font-size: 32px;
}
.tournament-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tournament {
    display: flex;
    flex: 1;
    padding: 10px;
    border: 1px solid #000;
    width: 100%
}
.tournament-id, .tournament-name, .tournament-desc, .tournament-owner_id, .button {
    flex: 1;
    margin-right: 10px;
    word-break: break-word;
    text-align: center;
}
.tournament > div:last-child {
    margin-right: 0px;
}
.data {
    
}
.input {
    
}
.register {
    padding-top: 4px;
}
.description {
    flex: 1;
    padding: 16px;
}
.desc {
    padding: 4px;
    font-size: 24px;
}
.players {
    flex: 1;
}
.tournament_settings {
    display: flex;
}
.add_player, .add_category {
    margin: 12px;
    border: 1px solid #000;
}
.description {
    padding: 8px;
}
